<app-office-searchbox (performSearch)="search($event)"></app-office-searchbox>

<div *ngIf='searchPerformed'>
  <p class='ms-font-m'>
  Found {{ totalResults }} images at <a href="https://pixabay.com/" target="_blank">Pixabay</a>
  </p>

  <div>
    <div *ngFor='let result of searchResults' class='search-result'>
      <app-search-result [model]="result"></app-search-result>
    </div>
  </div>
  <div>

    <button [disabled]="!hasPreviousPage" (click)="gotoPreviousPage()"><i class="ms-Icon ms-Icon--TriangleSolidLeft12" aria-hidden="true"></i></button>
    <button [disabled]="!hasNextPage" (click)="gotoNextPage()"><i class="ms-Icon ms-Icon--TriangleSolidRight12" aria-hidden="true"></i></button>
  </div>

</div>
